// 适配ios9和ios10的状态栏，另外需要ios客户端设置self.automaticallyAdjustsScrollViewInsets = NO
.ios-padding-top{
    padding-top: 20px;
}

/*按钮的公共样式*/
.btn_public {
    height: 88px;
    line-height: 88px;
    max-height: 100%;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
    border-radius: 6px;
    border: 0 solid transparent;
}


/*不同按钮的一些样式-----开始*/

.btn_big {
    width: 640px;
    .btn_public;
}

.btn_middle {
    width: 302px;
    .btn_public;
}

.btn_small {
    width: 256px;
    .btn_public;
}

.btn_min {
    width: 176px;
    height: 64px;
    line-height: 64px;
    max-height: 100%;
    margin: 0 auto;
    font-size: 28px;
    text-align: center;
    border-radius: 10px;
    border: 0 solid transparent;
}

.btn_red {
    background: #f72539;
    color: #fff;
    box-shadow: 0 0 18px 5px #ff9199;
}

.btn_white {
    background: #fff;
    color: #f72539;
    border: 1PX solid #f72539;
}

.btn_disabled {
    background: #f7c6cb!important;
    color: #f4f4f4!important;
}

.btn_delete {
    background: #fff!important;
    color: #333!important;
    border: 1PX solid #bcbcbc!important;
}


/*不同按钮的一些样式-----结束*/

/*一些box公共样式及ui插件样式更改--zhouqi*/
.stateIcon{
    width: 1.5rem !important;
    height: 1.5rem !important;
    margin: auto;
}
.box_frame{
    display: flex;
    flex-direction:column;
    // height: 245px;
  
}
.box_frame-row{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    // height: 245px;
  
}
.cardTitle{
    margin-top: 0%;
    font-size: 1.2em;
   
}
.CardBox{
    margin: 1em;
    padding: 24px 24px;
    border: 1px solid #83757569;
    border-radius: 16px;
    background: #ffffff;
}
.box_up{
    width: 100%;
}
.box_down{
    width: 100%;
    height: 130px;
    background: #E85E4E;
    opacity: 0.1;
    //border-radius: 16px;
}
.titleCard{
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 4%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.cardNumber{
    font-size: 14px;
    color: #666666; 
    margin-bottom: 0%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.box-card{
    padding: 0 32px;
    
}
.submitBtn{
    height: 3em;
    background: #33333391;
    line-height: 3em;
    text-align: center;
    color: #ffffff;
    border-radius: 5em;
    width: 100%;
    border: 0;
}
.agreeCheck{
    width: 90%; 
    margin: 1em 1em;
}
/*表单校验公共样式*/
.formBox{
    display: flex;
    flex-direction: column;
    background: #ffffff;
}
.formItem{
    height: 2.5em;
    line-height: 2.5em;
    border-bottom:1px solid #80808052;
    margin-bottom:.5rem
}
.title{
    font-weight: inherit !important;
}
.ruleForm{
    padding: 0 1em;
}
.bottomText{
    margin: .5em;
    text-align: center;
  }
//弹框标题有的居中有的靠左
.introduction{
    justify-content: left !important;
}
/*vant的form样式修改*/
.van-cell-group{
    background-color:inherit
}
.van-field__control{
    text-align: right;
}
.van-cell{
    padding:inherit;
    line-height: 2.5em;
    background-color:inherit;
    height: 2.5em;
   
}
.van-cell__right-icon{
    height: 2.5rem;
    line-height: 2.5rem;
}
.van-swipe__indicator{
    height: 0.5rem;
    width: 0.5rem;
  }
/*vant样式修改完*/
/*一些box公共样式及ui插件样式更改--zhouqi结束*/